* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    display: flex;
}

.left-side {
    width: 30%;
    position: relative;
}

.right-side {
    width: 70%;
}

.polygon {
    width: 100%;
    height: 20.5rem;
    background-color: rgba(240, 248, 255, 0.37);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}

.triangle {
    width: 100%;
    height: 27rem;
    background-color: rgba(127, 255, 212, 0.37);
    clip-path: polygon(0 0, 100% 45%, 0 100%);
    margin-top: -12rem;
}

.triangle-image {
    position: absolute;
    width: 50%;
    border-radius: 50%;
    top: 5rem;
    left: 10rem;
}

.leftside-content {
    margin-top: -14.8rem;
    padding: 14rem 2.5rem 2.5rem 2.5rem;
    background-color: rgba(128, 128, 128, 0.897);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.contact h2 {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.616);
    margin-bottom: 1.5rem;
}

.contact-divs {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contact img {
    width: 8%;
}

.contact-divs span {
    font-size: 1.6rem;
    display: inline-block;
    margin-left: 1.5rem;
}

.profile h2 {
    margin-top: 3.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}

.profile p {
    font-size: 1.6rem;
}

.skills h2 {
    margin-top: 3.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

.skills ul {
    font-size: 1.6rem;
    padding: 2.5rem;
}

.skills ul li{
    margin-bottom: 1.5rem;
}

.heading {
    text-align: center;
    height: 45rem;
    background-color: rgba(165, 42, 42, 0.356);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20.4rem);
    padding-top: 8rem;
}

.rightside-content {
    padding: 2rem;
}

.heading h1 {
    text-transform: uppercase;
    font-size: 6.5rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.heading p {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1rem;
}

.education h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    border-bottom: 1px solid gray;
    margin-top: -3.9rem;
    margin-bottom: 2rem;
}

.degree {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

p span {
    font-size: 1.6rem;
    display: inline-block;
    margin-right: 1.6rem;
}

.edu-note {
    font-size: 1.6rem;
}

.edu-2 {
    margin-top: 5rem;
}

.professional h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    border-bottom: 1px solid gray;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.digifigs-part h3{
    text-transform: uppercase;
    font-size: 1.6rem;
}

.courses-part {
    margin-top: 4rem;
}

.courses-part h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
}

.digifigs-part p {
    font-size: 1.6rem;
}

.courses-part p {
    font-size: 1.6rem;
}

.p-note {
    margin-top: 1.5rem;
}
